body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Paper ----------------------------------*/
canvas, canvas[resize] {
        width: 30%;
        height: 100vh;
        position: relative;
}

@media (max-width:600px){
    canvas, canvas[resize]{
        width:0;
        height:0;
    }
}

@media (min-width:600px){
    canvas, canvas[resize]{
        width:0;
        height:0;
    }
}

@media (min-width:768px){
    canvas, canvas[resize]{
        width:30%;
        height:100vh;
    }
}

@media (min-width:992px){
    canvas, canvas[resize]{
        width:30%;
        height:100vh;
    }
}

#canvas {
    z-index: -1;
    top: 0;
}

.paperscript .canvas {
    line-height: 0;
}

/*ReactApp ----------------------------------*/
#root {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    /*box-sizing: content-box;*/
}

#root ::-webkit-scrollbar {
    display: none;
}

@media (max-width:600px){
    #root {
        position: absolute;
        width:100%;
        top:220px;
    }
}

@media (min-width:600px){
    #root {
        position: absolute;
        width:100%;
        top:220px;
    }
}

@media (min-width:768px){
    #root {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
    }
}

@media (min-width:992px){
    #root {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
    }
}

/*CartoonImage ----------------------------------*/
.cartoon {
    width: 30%;
    position: absolute;
    z-index: 50;
    top: 80px;
    align-content: center;
    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear;
}

@media (max-width:600px){
    .cartoon {
        width:100%;
        top:0;
    }
}

@media (min-width:600px){
    .cartoon {
        width:100%;
        top:0;
    }
}

@media (min-width:768px){
    .cartoon {
        width:30%;
        top:80px;
    }
}

@media (min-width:992px){
    .cartoon {
        width:30%;
        top:80px;
    }
}

.cartoon-image {
    background: url(/../src/assets/images/cartoonshot2.png);
    height: 250px;
    width: 260px;
    -webkit-filter: drop-shadow(5px 5px 5px #29335C);
    filter: drop-shadow(5px 5px 5px #29335C); 
}
 @media (max-width:600px){
    .cartoon-image {
        height: 200px;
        width: 210px;
    }
}

@media (min-width:600px){
    .cartoon-image {
        height: 200px;
        width: 210px;
    }
}

@media (min-width:768px){
    .cartoon-image {
        height: 200px;
        width: 210px;
    }
}

@media (min-width:992px){
    .cartoon-image {
        height: 250px;
        width: 260px;
    }
}


.hatch{
    animation-name: hatch;
    -webkit-animation-name: hatch;  

    animation-duration: 2s; 
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%; 

    visibility: visible !important;     
}

@keyframes hatch {
    0% {
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        transform: rotate(-2deg);
    }   
    65% {
        transform: rotate(1deg);
    }   
    80% {
        transform: rotate(-1deg);
    }       
    100% {
        transform: rotate(0deg);
    }                                   
}

@-webkit-keyframes hatch {
    0% {
        -webkit-transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -webkit-transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -webkit-transform: rotate(2deg) scaleY(1);
    }
    50% {
        -webkit-transform: rotate(-2deg);
    }   
    65% {
        -webkit-transform: rotate(1deg);
    }   
    80% {
        -webkit-transform: rotate(-1deg);
    }       
    100% {
        -webkit-transform: rotate(0deg);
    }       
}


/*General -----------------------------------------------------*/
/*.container {
	max-width:960px;
	clear: both;
	margin: 0 auto;
	width: 100%;
}*/






